# Core data manipulation
pandas

# Snowflake connector for Python
snowflake-connector-python

# For loading DataFrames to Snowflake
# We use: from snowflake.connector.pandas_tools import write_pandas
# Note: This comes bundled with snowflake-connector-python

